<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Soporte Usuarios </h3>
        </div>

        <ul class="list-unstyled components" >
            <p>Menu Principal</p>
            <li >
                <a href="#homeSubmenu" *ngIf="loginservice.hasrole('Administrador')" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Usuarios Finales</a>
                <ul class="collapse list-unstyled" id="homeSubmenu" *ngIf="loginservice.hasrole('Administrador')" >
                    <li>
                        <a [routerLink]="['/crearcliente']">Crear Cliente</a>
                    </li>
                    <li>
                        <a [routerLink]="['/editarcliente']">Editar Cliente</a>
                    </li>
                    <li>
                        <a href="#">Informes</a>
                    </li>
                </ul>
            </li>

            <li><a [routerLink]="['/pendientes']" *ngIf="loginservice.hasrole('Administrador') || loginservice.hasrole('Mesa') || loginservice.hasrole('Tecnico')">Tickets Incidencias</a></li>
            <li><a [routerLink]="['/pendientesreq']" *ngIf="loginservice.hasrole('Administrador') || loginservice.hasrole('Mesa') || loginservice.hasrole('Tecnico')">Tickets Requerimientos</a></li>

            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" *ngIf="loginservice.hasrole('Administrador')">Administrativos</a>
                <ul class="collapse list-unstyled" id="pageSubmenu" *ngIf="loginservice.hasrole('Administrador') || loginservice.hasrole('Mesa')">
                    <li>
                        <a [routerLink]="['/crearusuario']">Crear Usuario</a>
                    </li>
                    <li>
                        <a [routerLink]="['/editarusuario']">Editar Usuario</a>
                    </li>
                    <li>
                        <a href="#">Informes</a>
                    </li>
                </ul>
            </li>

            <li>
              <a  *ngIf="loginservice.hasrole('Administrador') || loginservice.hasrole('Mesa')" href="#pageSubmenuIncidencia" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" >Incidencias</a>
              <ul class="collapse list-unstyled" id="pageSubmenuIncidencia" *ngIf="loginservice.hasrole('Administrador') || loginservice.hasrole('Mesa')">
                  <li>
                      <a [routerLink]="['/incidencia']">Crear Incidencia</a>
                  </li>
                  <li>
                      <a [routerLink]="['/verincidencia']">Ver Incidencias</a>
                  </li>
                  <li>
                      <a href="#">Informes</a>
                  </li>
              </ul>
          </li>



          <li>
              <a  *ngIf="loginservice.hasrole('Administrador') || loginservice.hasrole('Mesa')" href="#pageSubmenuRequerimiento" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" >Requerimientos</a>
              <ul class="collapse list-unstyled" id="pageSubmenuRequerimiento" *ngIf="loginservice.hasrole('Administrador') || loginservice.hasrole('Mesa')" >
                  <li>
                      <a [routerLink]="['/requerimiento']">Crear Requerimiento</a>
                  </li>
                  <li>
                      <a [routerLink]="['/verrequerimiento']">Ver Requerimiento</a>
                  </li>
                  <li>
                      <a href="#">Informes</a>
                  </li>
              </ul>
          </li>


            <!--<li *ngIf="loginservice.hasrole('Tecnico') || loginservice.hasrole('Mesa')">
                <a>Portfolio</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li> -->
            <li>
              <a [routerLink]="['/login']"> Login</a>
          </li>


        </ul>


    </nav>

    <!-- Page Content  -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span>Mostrar Menu</span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">

                        <li class="nav-item" *ngIf="loginservice.isAuthenticated()">
                            <a class="nav-link dedito" (click)="logout()">Cierre</a>
                        </li>
                        <li class="nav-item" *ngIf="!loginservice.isAuthenticated()">
                          <a class="nav-link" [routerLink]="['/login']">Inicio</a>
                      </li>

                    </ul>
                </div>
            </div>
        </nav>

        <router-outlet></router-outlet>

<!-- jQuery CDN - Slim version (=without AJAX) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<!-- Popper.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

<script type="text/javascript">

</script>
